<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página de Produtos</title>
</head>
<body>
    <div class="produto">
        <% produtos.forEach((produto)=>{  %>
            <ul>
                <li><%= produto.id %></li>
                <li><%= produto.codigo %></li>
                <li><%= produto.nome_completo %></li>
                <li><%= produto.produto_status %></li>
                <li><%= produto.frete_gratis %></li>
            </ul>
            <% }) %>
    </div>
</body>
</html>